/* * {
  border: solid 2px red;
} */
/* почему если сделать коммит этой штуки все слетает ? особенно футер */
header {
  background-image: url(/html-file/img/background-top.png);
  background-repeat: no-repeat;
  background-position: center;
  /* height: 815px;
  width: 1600px; */
  margin: 0px 200px;
  background-size: 100% 100%;
  color: white;
}
.nav-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 0px 20px;
  color: white;
}
nav ul li a {
  color: rgba(135, 148, 186, 1);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.Sing-in-up {
  display: flex;
  display: inline-block;
}
.sign-in {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 20px;
}
button {
  padding: 10px 53px;
  background: none;
  color: #8794ba;
  font-size: 16px;
  border-radius: 50px;
  border: solid 1px white;
  margin: 20px;
}
.text-img {
  display: flex;
  /* justify-content: space-around; */
  /*add property for correct location*/
  position: relative;
  text-align: left;
  
  align-items: center;
}
.text {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px; 
flex: 1;
margin-left: 210px;

}
h2 {
  font-size: 50px;
  color: white;
}
p {
  font-size: 18px;
  color: #8794ba;
}
.text button {
  background-color: #ef2a82;
  color: white;
  text-align: center;
  height: 50px;
width: 238px;
border-radius: 68px;
padding: 10px, 80px, 10px, 80px;
/*как сделать эту гадость внизу слева? или надо через флекс?*/



}
.img {
  flex: 1;
  background-image: url(/html-file/img/Frame\ 11.png);
  background-repeat: no-repeat;
  Width :873px;
  Height :554.57px;
  background-position: center right;
  /*correct location*/
}

/*NEW CHaPTER*/

.wrapper{
  margin: 20px 200px;
  /* width: 1600px; */
  
 
}
.features h2 {
  color: black;
  text-align: center;
  font-size: 40px;
}
.features p {
  color: 8794ba;
  font-size: 18px;
  text-align: center;
  position: relative;
  margin: 50px;
}
.features-icons {
  display: flex;
}
.features-icons div {
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
  font-size: 16px;
}
.features-icons div p {
  color: 8794ba;
}
.chld1 {
  display: flex;
  align-items: center;
  margin: 120px;
}
.staff1 {
  flex: 1;
}
.img-chld1 {
  background: url(/html-file/img/screen-01.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 410px;
 flex: 1;
 padding-top: 100px;

}
/*почему сжирается верхний угол(*/

.staff1 h2{
  color:#172755;
  font-size: 40px;
}
.staff1 p{
  font-size: 18px;
  color:#8794BA;
}

.chld2{
  display: flex;
  align-items: center;
  margin: 120px;

}
.img-chld2{
  background-image: url(/html-file/img/screen-02.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 410px;
 flex: 1;
 padding-top: 100px;
}
.staff2{
  flex:1
}
.staff2 h2{
  color:#172755;
  font-size: 40px;
}
.staff2 p{
  font-size: 18px;
  color:#8794BA;
}
.chld3{
  display: flex;
  align-items: center;
  margin: 120px;
}
.img-chld3{
  background-image: url(/html-file/img/screen-03.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 410px;
 flex: 1;
padding-top: 100px;
}
.staff3{
  flex: 1;
}
.staff3 h2{
  color:#172755;
  font-size: 40px;
}
.staff3 p{
  font-size: 18px;
  color:#8794BA;
}



/*ещеееееееееее*/
footer{
  background-image: url(/html-file/img/background-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
 margin: 0px 200px ; 
}
.footerall{
  margin: 50px 210px 50px 210px;
  padding: 100px 0px 0px 0px;

}
/* как можно заметить ,я туплю с тем ,как корректно сделать ориентацию этого элемента . Надо брать исходные данные с фигмы или как?  */
.footer{
  position: relative;
  margin-bottom: 80px;
 
}
.footer h2{
  color: white;
  font-size: 40px;
  text-align: center;
}
.footer p{
  font-size: 18px;
  color:#8794BA;
  text-align: center;
  margin: 0px 270px;

}
.conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.starter{ background-color: rgba(15,31,75,1);
  border-radius:30px;
  height: 440px;
  width: 340px;
 
}
.starter:hover{
  background-color: white;
}
.startermargin{
   margin: 0px 80px;
   background-color: rgba(15,31,75,1);
  border-radius:30px;
  height: 440px;
  width: 340px;
}
.starter h3{
  color: white;
  font-size: 30px;
  text-align: center;
 

}
hr{color: rgba(42, 64, 124, 1);size: 1px;width: 220px; align-items: center;}
.startermargin h3
 {color: white;
  font-size: 30px;
  text-align: center;}

.spec{
color: white;
font-size:60px;
text-align: center;
}
span{
  font-size: 30px;
}
.nespec{
  font-size: 18px;
  text-align: center;
}
.order{
  Width:200px;
  Height:39px;
 border-radius:60px;
 padding: 20px 80px;
 text-align: center;
 font-size: 20px;
 color: white;
margin: 0px 70px;
border: solid 1px white;
}

/*как сделать так ,что текст былвнутри клавиши?! ибо она выранена вроде корректно,а текст улетел..*/
.footerhr{
  color: rgba(42, 64, 124, 1);size: 1px;width: 1180px; align-items: center;
}
.fofoter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.contact-ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.contact-ul>li{
padding: 0px 20px;

}